.profile-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem;

}

.profile-user-details {
  flex: 2;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-user-details h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.profile-user-details p {
  font-size: 1rem;
  color: #555;
  margin: 0.5rem 0;
}

.profile-orders {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-orders h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.profile-orders .order-item {
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.profile-orders .order-item:last-child {
  border-bottom: none;
}